---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="AGPRICE">

	<section class="bg-[color:var(--primary-color)] h-full w-full flex items-center ">
		<section class=" w-full h-96 flex justify-center items-center">
			<div class="h-full w-72 flex flex-col  mr-3 justify-center items-center">
				<img class="w-[70%]" src="../../public/Logo.png" alt="">
				<h4 class="text-white font-extrabold text-5xl text-center">AGPRICE</h4>
			</div>

			<div class="h-full w-2/3 flex flex-col justify-center items-center">
				<h1 class="text-center text-white font-bold text-4xl mb-2">asdlfñajsd</h1>
				<p class="text-center text-white  text-1xl mb-2" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci iste ut? Totam officia corporis sit! Voluptate tempore at quis qui doloribus ipsum neque nostrum! Repellat veritatis repellendus eos nisi.
				Ducimus ea, deserunt, aperiam eaque nesciunt, necessitatibus non minus aliquam in modi obcaecati qui. Vel dicta fuga commodi deserunt autem dolores eos in architecto enim expedita? Recusandae blanditiis dolores maxime!
				Assumenda, earum vero dolores minima nam mollitia, molestias perspiciatis ullam enim veniam cum quisquam. Facere quia dignissimos tempore odio obcaecati reprehenderit corrupti soluta commodi, labore pariatur unde nesciunt? Quos, ab!
				Quos repudiandae eius neque earum, iure est cupi</p>
			</div>
		</section>
	</section>

</Layout>

