---
import IconFacebook from '../components/icons/Facebook.astro';
import IconGithub from '../components/icons/Github.astro';
import IconGmail from '../components/icons/Gmail.astro';
import IconLinkedin from '../components/icons/Linkedin.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-full w-full">
		<menu class=" relative w-full h-16"> 
			<nav class="bg-[color:var(--primary-color)] w-full h-16 fixed">
				<ul class="flex w-full  justify-around items-center h-full">
					<a href=""><li class="  px-3 pb-1 rounded-2xl text-white font-bold text-xl hover:text-[color:var(--dawn-color)]   ">Opcion 5</li></a>
					<a href=""><li class="  px-3 pb-1 rounded-2xl text-white font-bold text-xl hover:text-[color:var(--dawn-color)]   ">Opcion 5</li></a>
					<a href=""><li class="  px-3 pb-1 rounded-2xl text-white font-bold text-xl hover:text-[color:var(--dawn-color)]   ">Opcion 5</li></a>
					<a href=""><li class="  px-3 pb-1 rounded-2xl text-white font-bold text-xl hover:text-[color:var(--dawn-color)]   ">Opcion 5</li></a>
					<a href=""><li class="bg-white  px-3 pb-1 rounded-2xl text-[color:var(-dawn-color)] font-bold text-xl hover:bg-[color:var(--dawn-color)] ">Opcion diferente</li></a>
				</ul>
			</nav>
		</menu>

		<slot />

		<footer class="w-full xl:w-[1120px] flex justify-center ">
			<div class="text-[color:var(--primary-color)]  h-auto bg-slate-50 flex flex-col">
					<h3 class=" flex text-2xl justify-center font-bold">Ínformate sobre Nosotros</h3>
					<div class="flex flex-row justify-around mt-4 space-x-10">
						<div class="flex flex-col shadow rounded-lg w-96 h-auto p-3 ">
						<div class="flex flex-row">
							<img src="../../public/FOTO.jpg " class="rounded-2xl border border-black w-20 h-20 ml-2  mr-2 ">
							<div class="flex flex-col ml-2">
								<p class="text-xl font-semibold">Keiner Ballesteros Martínez</p>
								<p class=""><b>Rol:</b> Marketing </p>
							</div>
						</div>
						<h4 class="flex justify-center items-center text-lg font-semibold hover:text-[color:var(--dawn-color:#fad07a)]">Redes Sociales</h4>
						<nav class="flex flex-row space-x-10 justify-center mt-2 ">
							<a><IconFacebook class="size-5 hover:scale-110"/></a>
							<a><IconLinkedin class="size-5 hover:scale-110"/></a> 
							<a><IconGmail class="size-5 hover:scale-110"/></a>
							<a><IconGithub class="size-5 hover:scale-110"/></a>
						</nav>
						</div>
						<div class="flex flex-col shadow rounded-lg w-96 h-auto p-3 ">
						<div class="flex flex-row">
							<img src="" class="rounded-2xl border border-black w-20 h-20 ml-2  mr-2 ">
							<div class="flex flex-col ml-2">
								<p class="text-xl font-semibold">Caleb Acosta Ortíz</p>
								<p class=""><b>Rol:</b> Programador </p>
							</div>
						</div>
						<h4 class="flex justify-center items-center text-lg font-semibold hover:text-[color:var(--dawn-color:#fad07a)]">Redes Sociales</h4>
						<nav class="flex flex-row space-x-10 justify-center mt-2 ">
							<a><IconFacebook class="size-5 hover:scale-110"/></a>
							<a><IconLinkedin class="size-5 hover:scale-110"/></a>
							<a><IconGmail class="size-5 hover:scale-110"/></a>
							<a><IconGithub class="size-5 hover:scale-110"/></a>
						</nav>
						</div>
					</div>
					<div class="rounded-lg shadow m-4 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10 flex" >
						<div
							class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
						>
							<span class="text-sm  sm:text-center text-[color:var(--dawn-color)]"
								>© 2024 <a href="https://keiner.com/" class="hover:underline"
									>AGPRICE</a
								>. Todos los derechos reservados
							</span>
							<ul
								class="flex flex-wrap items-center mt-3 text-sm font-medium text-[color:var(--dawn-color:#fad07a)] sm:mt-0"
							>
								<li>
									<a href="#" class="hover:underline me-4 md:me-6">Servicios</a>
								</li>
								<li>
									<a href="#" class="hover:underline me-4 md:me-6">Contacto</a>
								</li>
								<li>
									<a href="#" class="hover:underline me-4 md:me-6">Ayuda</a>
								</li>
							</ul>
						</div>
					</div>
					
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--primary-color:#1a3d5d;
		--secundary-color:#4cbc9a;
		--dawn-color:#fad07a;
	}
	html{
		height: 100%;
		height: 100%;
	}

</style>
